body {
  background-color: white;
  
}
ul {
  display: flex;
}
ul > li {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a:hover{
  transition: 1ms;
  color: rgb(252, 110, 16) ;
  text-shadow: 1px 1px 1px rgb(219, 23, 23) ;
}
a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg {
  
  width: 1000px;
  height: 1000px;
  border: 1px solid blanchedalmond;
  border-radius: 100%;
  background-color: blanchedalmond;
  position: fixed;
  right: -80px;
  bottom: 170px;
  
}
.nav {
  display: flex;
  flex-direction: row;
}
.f1 {
  font-size: 50px;
  padding-left: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.firstPage {
  display: flex;
}
.img1>img {
  position: fixed;
  top: 15%;
  right: 27%;
  width: 110px;
  height: 110px;
  border: 1px solid;
  border: none;
  border-radius: 100%;
}
.img2>img {
  position: fixed;
  top: 29%;
  right: 41%;
  width: 110px;
  height: 110px;
  border: 1px solid;
  border: none;
  border-radius: 100%;
}
.img3>img {
  position: fixed;
  bottom:30%;
  left: 47%;
  width: 110px;
  height: 110px;
  border: 1px solid;
  border: none;
  border-radius: 100%;
  overflow: hidden;
}
.img5>img {
  position: fixed;
  bottom:31%;
  right: 7%;
  width: 110px;
  height: 110px;
  border: 1px solid;
  border: none;
  border-radius: 100%;
}
 .img4>img {
  position: fixed;
  top:30%;
  right: 13%;
  width: 110px;
  height: 110px;
  border: 1px solid;
  border: none;
  border-radius: 100%;
} 
.img6>img {
  position: fixed;
  bottom: 100px;
  right: 290px;
  width: 250px;
  height: 250px;
  border: 1px solid;
  border: none;
  border-radius: 100%;
}
.btn1>button,.btn2>button{
  border: 1px solid rgb(255, 102, 0);
  width: 30px;
  height: 30px;
  border-radius: 100%;
 background-color: rgb(255, 102, 0);
}
.btn1{
  position: fixed;
  left: 50%;
}
.btn2{
  position: fixed;
  left: 90%;
}
